/* body{
    background-color: red;
} */
.container{
    background-color: blue;
    height: 300px;
    border: 5px solid black;
    margin: 50px;
}

/* .child{
    background-color: green;
    margin: 50px;
    height: 100px;
    border-radius: 50%;
} */
body{
    background-color: teal;
}

.div>p{
    background-color: yellow;
}