body{
    background-color: beige;
}
.container{
    background-color: aqua;
    height: 400px;
    border: 2px solid red;
    padding: 20px;
    box-sizing: border-box;
}
.child1,.child2,.child3,.child4{
    height: 50px;
    width: 100px;
    border: 2px dotted goldenrod;
    display: inline-block;
}
.child1{
    background-color: azure;
}
.child2{
    background-color: blueviolet;
}
.child3{
    background-color: blanchedalmond;
}
.child4{
    background-color:yellowgreen;
}

 /* for the sibbling of div */
/* div+p{ 
    background-color:yellowgreen;
} */
/* #child1{
    background-color: red;
}
.myclass{
    background-color: green;
} */